.App {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #4b4c65 0, #1A1C26 48%, #151921 57%, #050a15 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
